.about-hero {
  background-color: #fafafa;
  padding: 6rem 0 4rem;
  text-align: center;
}

.about-hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #0f0f0f;
}

.about-hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  color: #0f0f0f;
}

.about-content {
  padding: 4rem 0;
}

.about-content p {
  max-width: 700px;
  margin: 0 auto 1.5rem;
  font-size: 1.1rem;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .about-hero h1 {
    font-size: 2.2rem;
  }
}

.about-sections {
  padding: 5rem 0;
}

.about-row {
  max-width: 1200px;
  margin: 0 auto 6rem auto;
  padding: 0 5%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.about-row.reverse {
  direction: rtl;
}

h2 {
  color: #fafafa;
}

img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 14px;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(209, 209, 209, 0.55);
}


.about-row.reverse > * {
  direction: ltr;
}

.about-text h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #d1d1d1;
}

.about-image img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 900px) {
  .about-row {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .about-image img {
    height: 260px;
  }
}
